$primary-font: monospace, sans-serif;

#main-panel {
    position: fixed;
    right: 30px;
    top: 100px;
    min-width: 330px;
    background-color: #000;
    z-index: 999;
    border-radius: 3px;
    box-shadow: -10px 7px 0px #3c4043;
    font-size: 14px;
    #ext-suggestions {
        min-height: 300px;
        max-height: 450px;
        overflow-y: auto;
        h3 {
            text-align: center;
            color: #f35ef3;
            margin: 0px;
            padding: 10px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-family: $primary-font;
        }
        .city-suggestions-panel {
            .suggestion {
                font-family: $primary-font;
                &.city-suggestion {
                    display: block;
                    padding: 3px;
                    padding-left: 10px;
                    padding-bottom: 6px;
                    font-weight: bold;
                    font-size: 0.95em;
                    color: #fff;
                    text-transform: lowercase;
                }
            }
        }
    }
    .status-area {
        margin-top: 1em;
        border-top: 2px dashed greenyellow;
        padding: 6px;
        p {
            font-family: $primary-font;
            font-size: 0.95em;
            color: greenyellow;
            margin: 0;
            margin-bottom: 1em;
        }
    }
}


.ext-container {
    &.controls {
        position: fixed;
        bottom: 100px;
        width: 80%;
        left: 10%;
        background-color: whitesmoke;
        display: flex;
        align-items: flex-end;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        z-index: 999;
        box-shadow: 2px 2px 2px #a29a9a;
        .inputs {
            flex-grow: 1;
            input {
                width: 25%;
                border: 1px solid #555;
                padding: 10px;
                margin-right: 3px;
                color: #000;
                font-size: 16px;
                font-family: $primary-font;
                &:focus {
                    border: 1px solid #20bc47;
                    border-left: 1px solid #46b4ea;
                }
            }
        }
        .commit {
            align-self: center;
            flex-grow: 1;
            max-width: 250px;
            button {
                width: 100%;
                display: block;
                padding: 10px;
                border: 1px solid #1fce22;
                background-color: #000;
                color: #fff;
                cursor: pointer;
                transition: 0.25s all;
                &:hover {
                    color: #f35ef3;
                }
            }
        }
    }
}

.state-suggestions,
.city-suggestions {
	position: absolute;
	background-color: #008e58;
	color: #fff;
	width: 350px;
	left: 23%;
    bottom: 62px;
    .suggestion {
        display: block;
        padding: 8px;
        border-bottom: 1px solid #0cc442;
        font-weight: 600;
        font-size: 16px;
        font-family: $primary-font;
        &.selected {
            background-color: #ffd700;;
        }
    }
}

.city-suggestions {
	left: 46%;
}